<div class="main">
    <div class="articles">
        <% for (let i = 0; i < posts.length; i++) { %>
        <article>
            <h3>
                <%= posts[i].title %>
            </h3>

            <p>
                <%= posts[i].body %>
            </p>

            <div class="info">
                <p>
                    <%= user[i] %>
                </p>
            </div>
        </article>
        <% } %>

        <div class="pagination">
            <% if (pages > 0 && current < pages) { %>
            <a href="/archive/<%= Number(current) +1 %>">Older</a>
            <% } %>

            <% if (pages > 2) { %>
            <a href="/archive/<%= Number(current) -1 %>">Newest</a>
            <% } %>

            <% if (pages == 2) { %>
            <a href="/">To main</a>
            <% } %>
        </div>

    </div>

    <div class="sidebar">
        <% if(!user.login) { %>
        <div class="switch-forms">
            <h3 class="signup-switch">Sign up</h3>
            <h3 class="signin-switch">Sign in</h3>
        </div>
        <form method="post" class="signup">
            <label for="email">E-mail</label>
            <input type="text" name="email">
            <label for="login">Login</label>
            <input type="text" name="login">
            <label for="password">Password</label>
            <input type="password" name="password">
            <label for="password">Repeat Password</label>
            <input type="password" name="repeat-password">

            <button id="register">Sign up</button>
        </form>

        <form class="signin">
            <label for="email">E-mail</label>
            <input type="text" name="auth-email">
            <label for="password">Password</label>
            <input type="password" name="auth-password">

            <button id="authorisation">Sign in</button>
        </form>
        <% } else { %>
        <div class="user">
            <p>
                <%= user.login %>
            </p>
            <a href="/api/auth/logout">Log out</a>
        </div>
        <% } %>
    </div>
</div>